<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Bienvenue ! - 16.5</title>
</head>
<div class="container">
    <h1>Bienvenue !</h1>
    <h4>Vous êtes bien connecté.e.</h4>
    <img src="https://github.com/user-attachments/assets/a178ea0e-85da-46b8-8f5b-61539d3f6632"></img>
</div>