.instrument {
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
body {
    background-color: #131313;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #363636;
}

.vertical-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.purple {
    color: #7F76CC;
}

.container {
    padding: 10px;
    margin: 10px;
}
